/* You can write your codes here  */

.cardContainer{
    
    background-color: grey;
    /* min-height: 400px;
    min-width: 500px; */
    padding-top: 10px;
    padding-bottom: 10px;
}
.card{
    margin:50px;
    background-color: white;
    border: 5px solid rgb(231, 8, 176);
    /* min-height: 200px;
    min-width: 400px; */
    padding: 20px;
}
.card .mainhead{
    text-align: center;
    color: rgb(16, 170, 175);
}
#averageMark{
font-size: 2rem;
font-weight: bold;
}
#averageMark.poor{
    color:red;

}
#averageMark.medium{
    color:rgb(9, 255, 0);
    
}#averageMark.great{
    color:rgb(17, 0, 255);
    
}
ul li span{
    color: rgb(219, 39, 219);
}
ul li{
    margin-bottom: 20px;
}

form{
    margin-top: 30px;
}